<%- include("partials/header.ejs") %>
    
   
<form action="upload" enctype="multipart/form-data" method="POST">
    <input type="file" name="foo" onchange="getName()" id="myFileinput">
    
    <p id="file_des">Drag your files here or click in this area.</p>
    <button id="upload" type="submit"  >Upload</button>
  </form>
  
       
        
    
    


  
<%- include("partials/footer.ejs") %>
