<%- include("partials/header.ejs") %>
    <div class="show">
        <h1>file uploaded</h1>
        <a href="/getD"  > <button>show file</button></a>
    </div>
    



<%- include("partials/footer.ejs") %>
