<%- include("index.ejs") %>
    <h1>csv file uploaded</h1>
    
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <table>
    <% for (let index = 0; index < data.length; index++) { %>
      <%    const element = data[index]; %>
      <% if (index==0) { %>
        <tr>
            <% for (let index = 0; index < element.length; index++) { %>
               <% const x = element[index]; %>
               <th> <%= x %></th>
            <% } %>
          </tr>
      <% } else { %>
        <tr>
            <% for (let index = 0; index < element.length; index++) { %>
               <% const x = element[index]; %>
               <td> <%= x %></td>
            <% } %>
          </tr>
      <% } %>
        
    <%  } %>

    </table>
    

   <script src="/js/upload.js"></script> 
</body>
</html>